.each-item{
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.img-wrapper{
    height: auto;
    overflow: hidden;
}

.img-wrapper img{
    object-fit: scale-down;
    width: 100%;
    display: block;
    transition: transform 1s ease;
}

.img-wrapper:hover img {
    transform: scale(1.3);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.brand-desc {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.final-price {
    font-size: 16px;
    font-weight: 500;
}

.price {
    font-size: 12px;
    opacity: 0.5;
    margin-left: 5px;
    font-weight: 400;
    text-decoration: line-through;
}

.discount {
    color: red;
    opacity: 0.5;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 400;
}

.add-to-cart-btn {
    border-radius: 0;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all 0.3s;
    
}
  
.add-to-cart-btn.disabled {
    pointer-events: none;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    cursor: none;
}



.add-to-cart-btn:active{
   transform: scale(0.9);
   background-color: rgb(54, 75, 48);
}

